/* hey friend! */
/* doing a little snoopy snoop? */
/* thats cool! */
/* please excuse my lack of ability to code well */

html {
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

.icons-social i {
    font-size: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}

main > .name {
    font-family: 'Raleway', sans-serif;
    font-size: 5.75rem;
    font-weight: 600;
}

main > .desc {
    font-size: 2.9rem;
    margin: 1.5rem 0;
    font-weight: 100;
}

main > .lazy {
    font-size: 1.6rem;
    margin: 2.1rem 0;
    font-weight: 100;
}

main > .copyright {
    font-family: 'Outfit', sans-serif;
    font-size: 1.3rem;
    margin: 1rem;
    font-weight: 50;
}

.icons-social i {
    padding: 15px;
}