/* Theme */

main {
    background: linear-gradient(to bottom right, mediumslateblue, dodgerblue);
    color: #FAFAFA;
}

.icons-social a {
    color: #FAFAFA;
}

.icons-social a svg path{
    fill: #FAFAFA;
}