:root {
  --primary: #ff05ff;
  --bg: #fefaf7;
  --bg-2: #fcfcfc;
  --txt: #000;
  --txt-2: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--txt);
  background-color: var(--bg);
}

.hi {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hi .meowuwu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.inner {
  animation: fadeInSlide 1s ease-in-out;
  animation-fill-mode: both;
}

.inner:nth-child(2) {
  animation-delay: .5s;
}

.inner:nth-child(3) {
  animation-delay: 1s;
}

.hi .meowuwu .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2rem;
  gap: 1rem;
}

.hi.inactive {
  pointer-events: none;
  display: none;
}

.inner {
  background-color: #e7e7e7;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-align: center;
}

.inner h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.inner p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  max-width: 500px;
}

.skill {
  font-size: 2rem;
  cursor: pointer;
}

.skill i {
  transition: all .15s linear;
}

#kotlin {
  width: 2rem;
  height: auto;
  margin: 0 1rem;
}

#kotlin path {
  fill: #000;
  transition: all .15s linear;
}

#kotlin:hover>:nth-child(2) {
  fill: #7d6fe2;
}

#kotlin:hover>:nth-child(4) {
  fill: #0095d5;
}

#kotlin:hover>:nth-child(6) {
  fill: #f18e33;
}

.fa-node-js:hover {
  color: #8cc84b;
}

.fa-java:hover {
  color: #f89820;
}

.fa-sass:hover {
  color: #c66394;
}

.fa-js:hover {
  color: #f0db4f;
}

.fa-css3-alt:hover {
  color: #2965f1;
}

.fa-html5:hover {
  color: #e44d26;
}


.pfp img {
  border-radius: 50%;
  width: 30%;
  height: auto;
}

a {
  color: var(--txt-2);
  text-decoration: none;
  margin: 0;
  transition: all .3s linear;
}

a:hover {
  color: var(--primary);
}

.portfolio-button {
  background-color: var(--bg-2);
  color: var(--bg-2);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  transition: all .3s ease-in-out;
}

.portfolio-button a {
  color: var(--txt);
}

.portfolio-button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: .5rem;
  z-index: 1;
}

.img-container {
  margin: 1rem;
  pointer-events: none;
  display: none;
}

.img-container.active {
  pointer-events: all;
  display: block;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  border: 2px solid var(--txt-2);
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  transition: all .3s ease-in-out;
  animation: fadeInSlide 1.2s ease-in-out;
  z-index: 1;
  pointer-events: all;
}

.img.inactive {
  opacity: .2;
  pointer-events: none;
}

.img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.intro {
  margin: 2rem;
  animation: slideLeft .5s ease-in-out;
}

.strong {
  font-weight: 700;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease-in-out;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  border: 2px solid var(--txt-2);
  /* box-shadow: 0 0 5px rgba(0, 0, 0, .3); */
  transition: all .3s ease-in-out;
  /* animation: fadeInSlide 1s ease-in-out; */
  z-index: 1;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 800px;
  background-color: var(--bg-2);
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  animation: fadeIn .3s ease-in-out;
  z-index: 2;
  margin-top: .5rem;
  text-align: center;
}

.modal-content .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 2rem;
  color: var(--txt-2);
  cursor: pointer;
  z-index: 3;
}

.modal-content .close:hover {
  color: var(--primary);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 500;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(20px) scale(.9);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none!important;
    transition: none!important;
  }
}


@media screen and (max-width: 768px) {
  .hi {
    flex-direction: column!important;
    width: 100%;
    height: 100%;
  }

  .meowuwu {
    flex-direction: column!important;
    flex-wrap: wrap;
  }

  .meowuwu .inner {
    margin: 1rem;
  }

  .inner {
    padding: 1rem;
  }

  .inner h1 {
    font-size: 2rem;
  }

  .inner p {
    font-size: 1rem;
  }

  .img-container {
    margin: 0;
  }

  .images {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .intro {
    margin: 1rem;
    animation: slideDown .5s ease-in-out;
  }

  .modal-content {
    width: 90%;
  }

  .hi {
    flex-direction: column;
  }

  .hi .inner {
    margin: 1rem;
  }

  .pfp img {
    width: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ff05ff;
    --bg: #000;
    --bg-2: #333;
    --txt: #cecece;
    --txt-2: #5c5c5c;
  }
  .inner {
    background-color: #1b1b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  #kotlin path {
    fill: #fff;
  }
}